*{
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
  

}
*::-webkit-scrollbar{
  display: none;
}
label{
  font-size: 20px;
}
.Toastify__toast-container {
  z-index: 9999 !important;
}


body {
  /* background: url('./assets/awsbackgroundimage.jpg') no-repeat center center fixed; */
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.modal {
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.mobile-navbar1{
  position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            
            height: auto;
            background: black;
            z-index: 3000;
            padding-top: 60px;
}
.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:black;
  /* z-index: 999; */
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.navbar-nav .nav-link {
  position: relative;
  color: white;
  text-decoration: none;
  padding-bottom: 5px;
}

.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #ffa31f;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-link.active::before {
  width: 50%;
  visibility: visible;
  background-color: #ffa31f;
}

.navbar-nav .nav-link:hover::before {
  width: 50%;
  visibility: visible;
  color: white;
}

.custom-dropdown {
  z-index: 99999 !important; 
  position: absolute !important;
}

.header{
  transition: ease-in-out0.3s;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    /* z-index: 9997; */
    overflow-y: hidden;
    /* padding: 15px 0; */
}

.header-top {
  height: 70px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 9999;
  background: rgb(1, 58, 137);
  /* overflow: hidden; */
}

section.section-show {
  top: 50px;
  bottom: auto;
  opacity: 1;
  padding-bottom: 45px;
  height: auto !important;
}
section {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 140px;
  bottom: 100%;
  opacity: 0;
  transition: ease-in-out0.4s;
  z-index: 2;
  height: auto !important;
}
section .container {
  background: rgb(255, 255, 255);
  padding: 30px;
  margin-top: 50px;
}


.admin .container {
  background: rgb(255, 255, 255);
  /* padding: 30px; */
  margin-top: 100px;
  z-index: 1;
}



.admin .container .section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #013a89;
  font-family: "Poppins", sans-serif;
}

.admin .container .section-title h2 ::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #ffa31f;
  margin: 4px 10px;
}

.admin .container .section-title p {
  margin: 0;
  margin: -15px 0 15px 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #000000;
}


 .section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #013a89;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #ffa31f;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: -15px 0 15px 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #000000;
}

.info-box {
  color: #444444;
  padding: 20px;
  width: 100%;
  background: rgb(241, 246, 255);
}

.subtitle-text h3 {
  font-size: 20px;
  color: rgb(1, 58, 137);
  font-weight: 700;

}


.contact-form {
  padding: 30px;
  background: rgba(255, 255, 255, 0.08);
}
.contact-form {
  width: 100%;
  border-top: 3px solid #ffc107;
  border-bottom: 3px solid #ffc107;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact-form input {
  padding: 10px 15px;
  border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    background: rgb(241, 246, 255);
    /* border: 0; */
    transition: 0.3s;
    color: #000000;
    height: 44px;
}
.contact-form select{
  padding: 10px 15px;
  border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    background: rgb(241, 246, 255);
    /* border: 0; */
    transition: 0.3s;
    color: #000000;
    height: 44px;
}

.contact-form textarea{
  border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    background: rgb(241, 246, 255);
    /* border: 0; */
    transition: 0.3s;
    color: #000000;
    padding: 12px 15px;
}
.contact-form .form-group{
  margin-bottom: 20px;
  padding-bottom: 8px;
}

.about-form {
  padding: 30px;
  background: rgba(255, 255, 255, 0.08);
}
.about-form {
  max-width: 600px;
  width: 100%;
  
  position: fixed;
  /* color: white; */
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: 3px solid #ffc107;
  border-bottom: 3px solid #ffc107;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  z-index: 1050;
}

.about-form input {
  padding: 10px 15px;
  border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    background: rgb(241, 246, 255);
    border: 0;
    transition: 0.3s;
    color: #000000;
    height: 44px;
}
.about-form select{
  padding: 10px 15px;
  border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    background: rgb(241, 246, 255);
    border: 0;
    transition: 0.3s;
    color: #000000;
    height: 44px;
}

.about-form textarea{
  border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    background: rgb(241, 246, 255);
    border: 0;
    transition: 0.3s;
    color: #000000;
    padding: 12px 15px;
}
.about-form .form-group{
  margin-bottom: 20px;
  padding-bottom: 8px;
}

em {
  font-style: italic;
  /* font-size: 15px; */
}
.services .icon-box {
  text-align: center;
  background: rgba(157, 157, 157, 0.08);
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 60px 20px;
  transition: allease-in-out 0.3s;
  margin-bottom: 20px;
  width: 100%;
}
.services .icon-box .icon {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  /* background: #18d26e; */
  border-radius: 5px;
  transition: all 0.3sease-out 0s;
  display: flex
;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
}

.services .icon-box h4 a {
  color: #013a89;
  text-decoration: none
}
.services .icon-box h4 a {
  /* color: #000000; */
  transition: ease-in-out0.3s;
}
b, strong {
  font-weight: bolder;
}

.portfolio-filters {
  padding: 0;
  color: #013a89;
  /* margin: 0 auto 15px auto; */
  list-style: none;
  text-align: center;
  border-radius: 20px;
  padding: 2px 15px;
  background: none;
  font-weight: 500;
}
.portfolio-filters {
  padding: 0;
  color: #013a89;
  /* margin: 0 auto 15px auto; */
  list-style: none;
  text-align: center;
  border-radius: 5px;
  padding: 2px 10px;
  background: none;
  font-weight: 500;
  font-size: 1rem;
}
.portfolio-filters:hover{
  background: #ffa31f;
}
.admin-portfolio-filters {
  padding: 0;
  /* color: #013a89; */
  /* margin: 0 auto 15px auto; */
  list-style: none;
  text-align: center;
  border-radius: 5px;
  padding: 2px 5px;
  background: none;
  font-weight: 500;
  font-size: 1rem;
  flex-wrap: wrap;
}

.admin-portfolio-filters {
  background: #ffa31f;
}
.active{
  background: #ffa31f;
}

.text-yellow-400 {
  color: #ffc107 !important;
}

.text-red-500 {
  color: #dc3545 !important;
}

.bg-white {
  background-color: white !important;
  /* padding: 5px; */
  border-radius: 5px;
}
.edit-delete-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
  background: white;
  padding: 5px;
  border-radius: 5px;
  z-index: 9999;
}
.invalid-input{
  border: 3px solid #dc3545;
}
.yarl__slide_description{
  background-color: white;
  /* padding: 0 50px; */
  display: none;
  
}


.yarl__flex_center{
  flex-direction: column;
  gap: 0;
  
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 100vh; /* Full viewport height */
  position: relative;
}

/* Full height image with responsiveness */
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Sidebar */
.sidebar {
  width: 250px;
  max-width: 100vw;
  height: 90vh;
  position: fixed;
  top: 70px;
  left: 0;
  transition: width 0.3s ease;
  overflow-x: hidden;
  color: black;
  border: 1px solid lightgray;
  z-index: 1550;
}

.sidebar-closed {
  width: 0px;
}

.sidebar ul {
  padding: 0;
}

.sidebar ul li {
  /* padding: 10px 15px; */
  cursor: pointer;
}

.sidebar ul li:hover {
  /* background-color: ; */
}

/* Content Section */
.content-container {
  /* margin-left: 250px; */
  /* padding: 20px; */
  width: calc(100% - 250px);
  transition: margin-left 0.3s ease;
  z-index: -1;
  margin-top: 50px;
}

.sidebar-closed + .content-container {
  /* margin-left: 60px; */
  width: 100%;
}
/* .content-container {
  flex-grow: 1;
  padding: 20px;
  transition: margin-left 0.3s ease-in-out;
} */
.content-expanded {
  margin-left: 250px;
}

.content-collapsed {
  /* margin-left: 120px; */
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.portfolio .portfolio-wrap::before { 
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
 
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
 
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
  transform: translateY(0);
}
.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.plus-button {
  background: transparent;
  border: none;
  color: #fff; /* White icon color */
  cursor: pointer;
  font-weight: bold;
  font-size: 2rem;
}

@media (max-width: 991px) {
  .sidebar-open {
    width: 100vw !important;
  }
}